@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body{
    background: rgb(253, 253, 253);
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Mukta', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgb(22, 22, 24);
}

.category{
    background: black;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    max-width: 90px;
    padding: 2px 0;
    border-radius: 4px;
    margin-bottom: 8px;
}

.sports{
    background: #ee4251 !important;
    color: white !important;
}

.media{
    background: #ffac30 !important;
    color: white !important;
}

.business{
    background: #fc8338 !important;
    color: white !important;
}

.tech{
    background: #3E9BE0 !important;
    color: white !important
}

.health{
    background: #7d29dd !important;
    color: white !important;
}



.nav{
    background: white;
    box-shadow: 0px 5px 5px 0px rgb(236, 236, 236);
}




.nav-container, .logo-container{
    max-width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}


.logo-container, .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo{
    width: 230px;
    height: auto;
}

.nav-ad{
    width: auto;
    height: 70px;
}

.nav-links-container{
    border-bottom: 1px solid rgb(236, 236, 236);
    border-top: 1px solid rgb(236, 236, 236);
}


.links{
    display: flex;
    align-items: center;
}

.links a{
    margin-right: 20px;
    font-size: 16px;
    color: #333;
}

main{
    max-width: 1450px;
    margin: 0 auto;
}

section{
    width: 80%;
    margin: 0 auto;
}

.header-section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.heading{
    margin-bottom: 30px;
   font-weight: lighter;
   text-transform: capitalize;
   font-weight: 900;
   color: rgb(22, 22, 24);
} 



.header-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.header-section img{
    border-radius: 8px;
}


.header-1-main{
    position: relative;
    max-width: 100%;
}

.header-main-content{
    position: absolute;
    bottom: 20px;
    left: 30px;
    z-index: 99;
}

.header-1-main::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    border-radius: 8px;
}

.header-1-main img{
    max-width: 100%;
    height: auto;
    display: block;
}

.header-1-main p{
    color: white;
    text-shadow: 1px 1px rgb(0,0,0);
    font-size: 18px;
}

.header-1-secondary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
}

.secondary-item{
    max-width: 100%;
    background: white;
    border-radius: 8px;
   
}

.secondary-item-content{
    padding: 20px;
}

.secondary-item img{
    max-width: 100%;
    min-width: 100%;
    height: 185px;
}

.header-2{
    display: flex;
    flex-direction: column;
    
}


.header-2-item{
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 0;
    border-bottom: 1px solid rgb(231, 231, 231);
    background: white;
   
}

.header-2-item img{
    width: 150px;
    height: 105px;
    margin-right: 15px;
    
}

.header-2-item p{
    font-size: 12px;
}

@media(max-width: 1320px){
    
    .header-2-item p{
        font-size: 10px;
    }
    
}

@media(max-width: 1100px){

    .header-2-item img{
        width: 130px;
        height: 95px;
    }


    .header-2-item p{
        font-size: 9px;
    }
    
}

/*trending section*/
.trending-section{
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 70px 0;
    background: #f6f4f7;
    width: 100%;
}

.trending-container{
    width: 80%;
    margin: 0 auto;
}

.owl-carousel{
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 20px;
}

.owl-item{
    border-radius: 0px 0px 6px 6px;
    background: white;
    box-shadow: 0px 5px 15px rgba(131, 130, 130, 0.2);

}

.dots-container{
    margin-top: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}

.dots-container i{
    font-size: 10px;
    margin-right: 12px;
    color: rgb(225, 225, 225);
}

.dots-container i.active{
    color: #d83542;
}

.articles-socials{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}


.tabs-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 22px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    position: relative;
}

.slider{
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 20%;
    background: #d83542;
    transition: transform 0.3s;
}

.tab-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 100%;
    background: rgb(243, 243, 243);
    text-transform: uppercase;
    color: rgb(68, 68, 68);
    cursor: pointer;
    transition: all 0.1s;
}

.tab-item:nth-child(2){
    color: white;
}
.tab-item p{
    z-index: 99;
}


.articles-section{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.article{
    background: white;
    max-width: 100%;
    box-shadow: 0px 5px 15px rgba(131, 130, 130, 0.2);
    border-radius: 8px;
}

.article-img{
    max-width: 100%;
    min-width: 100%;
    height: 225px;
    border-radius: 8px 8px 0px 0px;
}

@media(max-width: 1200px){
    .article-img{
        max-width: 100%;
        min-width: 100%;
        height: 180px;
        border-radius: 8px 8px 0px 0px;
    }

    .secondary-item-content p{
        font-size: 12px;
    }

    .title, .tab-item p{
        font-size: 12px;
    }
}

.article-content{
    padding: 20px;
}



.icon-item{
    height: 70px;
    width: 70px;
    transition: all 0.3s;
}

.icon-item:hover{
    transform: scale(1.1);
}


.tik-tok{
    background: black;
    border-radius: 12px;
}
.icon-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



.social-icons-grid{
    margin: 0 auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 70px);
    column-gap: 10px;
    row-gap: 10px;
}


.ad{
    max-width: 100%;
    border-radius: 8px;

}

@media(max-width: 1024px){
    .header-grid, .articles-socials, .articles-section{
        grid-template-columns: 1fr;
    }



    .header-1-secondary{
        grid-template-columns: 1fr;
    }

    .header-2-item img{
        width: 140px;
        height: 100px;
    }

    .header-2-item p{
        font-size: 16px;
    }


    .articles-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .article img{
        max-width: 100%;
        height: 250px;
    
    }

    .ad{
       display: none;
    }
}

@media(max-width: 800px){

    section, .trending-container{
        width: 90%;
    }

    .header-2-item img{
        width: 140px;
        height: 100px;
    }

    .header-2-item p{
        font-size: 12px;
    }

    .tab-item p{
        font-size: 11px;
    }


    .article img{
        max-width: 100%;
        height: auto;
    }
       
}

@media(max-width: 600px){

    .trending-section{
        padding: 30px 0;
    }

    .tab-item p{
        font-size: 10px;
    }

    .dots-container{
        display: flex;
    }

    .articles-section{
        grid-template-columns: 1fr;
    }
}